<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Add Item</h2>
    {{#x-select action="selectCategory"}}
      {{#x-option value=""}}please select a category{{/x-option}}
      {{#each categories as |category|}}
      {{#x-option value=category}}{{category.title}}{{/x-option}}
      <!-- <option value="purses" id="purses"> purses </option>
      <option value="makeup" id="makeup"> makeup </option> -->
      {{/each}}
    {{/x-select}} <hr>
    <label for="brand" >Item brand</label>
    {{input type="text" value=brand id="brand" class="form-control" placeholder="item brand"}}
    <br>
    <label for="name" >Item name</label>
    {{input type="text" value=name id="name" class="form-control" placeholder="item name"}}
    <br>
    <label for="price" >Item price</label>
    {{input type="number" id="price" value=price class="form-control" placeholder="price"}}
    <br>
    <label for="description">Item description</label>
    {{textarea type="text" id="description" value=description class="form-control" placeholder="type a description"}}
    <br>
    <label for="imageItem" >Image</label>
    {{input type="url" id="imageItem" value=imageItem class="form-control" placeholder="insert the image url"}}
    <br>
    <button class="btn btn-lg btn-primary btn-block" {{action 'addItem'}}>Add Item</button>
  </form>
  <h3> Item being added: </h3>
  {{#if addItemFormSubmit}}
    <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> {{lastItemToSHow}} in {{category.title}} has been added successfully.</div>
  {{else}}
  <p>
    No item added yet
  </p>
  {{/if}}
</div> <!-- /container -->
